# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large datasets
candidates.jsonl

# Generated folders
notebooks/progress/
notebooks/embeddings/

# OS files
.DS_Store
~$*.docx
Thumbs.db